<!--The content below is only a placeholder and can be replaced.-->
<div class='navi' id='navdiv' style="width: 100px; height: 100px;"></div>
<div id='imgcontainer' style="width: 1024px; height: 1024px;">
    <div class='panzoom' id='zoomcontainer'>
        <canvas id='maincanvas' style='position:absolute'></canvas>
        <div id='svgcontainer' style='position:absolute'>
            <svg id='svgcanvas' style='display: inline-block;' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'></svg></div>
    </div>
</div>